body {
  margin: 0 auto;
  padding: 0 0.25rem;
  font-family: 'Open Sans', sans-serif;
  max-width: 23.4375rem;
  background-color: #161618;
}

.screen {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.title-wrapper img {
  height: 2rem;
  margin-right: 0.25rem;
}

h1 {
  margin: 0.25rem auto;
  color: #2A5DAC;
  letter-spacing: -3px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  border: solid 4px #2A5DAC;
  height: 100%;
  overflow: auto;
  margin-bottom: 0.5rem;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  scroll-behavior: smooth;
}

.chat-window::-webkit-scrollbar {
width: 0;
}

.user,
.ai,
.rounded {
  border-radius: 20px;
}

.user {
  align-self: flex-end;
  background-color: #3EB489;
  margin: 0.25rem 0.5rem 0.25rem 1rem;
  text-align: right;
  border-top-right-radius: 0;
}

.ai {
  align-self: flex-start;
  background-color: #2A5DAC;
  color: #fff;
  margin: 0.25rem 1rem 0.25rem 0.25rem;
  border-top-left-radius: 0;
}

.user,
.ai {
  display: inline-block;
  width: fit-content;
  padding: 1rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: sticky;
  margin-top: auto;
  bottom: 0;
  margin-bottom: 0.25rem;
}

.user-input {
  line-height: 3rem;
  font-size: 1rem;
  max-width: 30rem;
  width: 100%;
  font-family: inherit;
  padding-left: 1rem;
}

.send-button {
  background-color: #2A5DAC;
  height: 3rem;
  width: 3rem;
  border: none;
  margin-left: 0.25rem;
}

.send-icon {
  width: 1rem;
}

.thinking-icon {
  filter: brightness(0) invert(1);
}

.input-rounded {
  border-radius: 10px;
}

.chat-message {
  transition: all 0.5s ease;
}

.recommendation .imdb-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  width: 40%;
  color: #fff;
  font-size: 0.5rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

.imdb-link img {
  width: 100%;
  border-radius: 10px;
  margin-top: 0.25rem;
}

.user {
  margin-left: 1rem;
  animation: slideFromRight 0.5s forwards;
}

.ai {
  margin-right: 1rem;
  animation: slideFromLeft 0.5s forwards;
}

@keyframes slideFromRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes slideFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}